# Игнорирование папки с виртуальным окружением (если используете virtualenv или venv)
venv/

# Игнорирование папки с установленными зависимостями
# (если используете pipenv, poetry или подобное)
# Измените на нужный вам путь к папке
/.venv/

# Игнорирование скомпилированных файлов Python
*.pyc

# Игнорирование скомпилированных файлов Python в папке __pycache__
__pycache__/

# Игнорирование файлов с настройками локальной среды (например, .env)
# Если вы используете такие файлы для хранения конфиденциальных данных,
# убедитесь, что они не попадают в репозиторий!
.env

# Игнорирование статических файлов и медиа-файлов (если они хранятся в папке media)
# Измените на нужный вам путь к папке со статическими файлами и медиа
/static/
/media/

# Игнорирование файлов логов
*.log

# Игнорирование баз данных
*.sqlite3
*.db

# Игнорирование файлов с настройками IDE и редактора кода
# Ниже представлены примеры файлов конкретных редакторов,
# вы можете добавить свои в зависимости от используемого вами редактора
.vscode/
.idea/
*.pydevproject

# Игнорирование файлов настройки проекта (например, файл settings.py)
# Если используете файлы с другими именами, убедитесь, что они не игнорируются по ошибке!
#settings.py
#local_settings.py

# Игнорирование директорий с миграциями и всех ее файлов
**/migrations/